.inner {
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    border: 1px solid #008850;
    padding: 8px 24px;
    color: #008850;
    font-size: 14px;
}

.btn::after {
    content: ">";
    margin-left: 8px;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}